<p><%= link_to 'New application', new_application_path %></p>
<h1>Open Applications</h1>
 <% @applications.each do |application| %>
   <p>
  <%= link_to application.company, application_path(application) %> for 
     <%= application.position %> on 
     <%= application.applied_on %>
   </p>
 <% end %>
