<h1>Open applications</h1>
<p><%= link_to 'New application', new_application_path %></p>
<ul>
  <% @applications.each do |application| %>
    <li>
      <%= application.company %> for 
      <%= application.position %> on 
      <%= application.applied_on %>
    </li>
  <% end %>
</ul>
