<h1>Applied For</h1>
<p>An easy way to track where you have applied for a job.</p>

<p>Create <%= link_to "an Account", new_user_path %> to start tracking today.</p>

<p>Already have an account? <%= link_to "Log In.", login_path %></p>
