<!DOCTYPE html>
<html>
<head>
  <title>Applied For</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="apple-mobile-web-app-title" content="Applied For">
  <link rel="shortcut icon" href="/touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="/touch-icon.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
